* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
}
.external-container {
  display: flex;
  flex-direction: column;
}
/**********Card-container**********/

.card-container {
  place-self: center;
  border-radius: 10px;
  width: min(100%, 600px);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 5%);
}

/**********Image preview**********/
.product-img {
  display: flex;
  align-items: center;
  justify-items: center;
}
.product-img img {
  width: 100%;
  object-fit: cover;
}
/**********Description**********/

.product-description {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8vh;
  color: hsl(228, 12%, 48%);
}
.category-title {
  letter-spacing: 5px;
}

.product-title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  font-size: 3.5vh;
}

.product-price {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: space-around;
  font-size: 2.5vh;
  padding-bottom: 0.6vh;
}
.old-price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8vh;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}
/**********Button***************/
.cart-btn {
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-size: 1.8vh;
  padding: 1vh 0;
  border-radius: 5px;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cart-btn:hover {
  cursor: pointer;
  background-color: hsl(158, 90%, 37%);
}

/**********Attribution**********/
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/**********Media Query**********/
@media (max-width: 745px) {
  .card-container {
    width: min(100%, 450px);
    box-shadow: none;
    grid-template-columns: 100%;
    padding: 15px;
  }
  .product-description {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .product-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  /* .product-img img {
    min-width: 320px;
    height: auto;
  } */
}
